* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: linear-gradient(to bottom, orange, darkorange 19%, transparent 20%, transparent 74%, transparent 75%), url("/media/bg.jpg");
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;
}

form {
  margin: 0 auto 50px auto;
}

input {
  text-align: center;
}

input.rules-divisor {
  min-width: 0;
  max-width: 20%;
  flex-shrink: 2;
}

input.rules-label {
  min-width: 0;
  max-width: 30%;
  text-align: center;
}

button.remove {
  flex-grow: 0;
  flex-shrink: 1;
}

table {
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.center {
  text-align: center;
}

.nowrap {
  flex-wrap: nowrap;
}

.section {
  margin: 0 0 20% 0;
}

.section-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;
  margin: 0 0 5% 0;
}

.grid {
  display: grid;
  height: 100vh;
  width: 100vw;
  gap: 10% 10%;
  padding: 2%;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 9fr;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "left content right"
}

.header {
  grid-area: header;
  border-radius: 5vh;
  background-color: black;
}

img.header {
  width: 5%;
  height: 5%;
  padding: 10px;
  border-radius: 50%;
}

.title {
  display: flex;
  color:white
}

.title-color {
  color: darkorange
}

.sidebar {
  overflow: auto;
  grid-area: left;
  font-size: smaller;
}

.article {
  overflow: auto;
  grid-area: content;
  font-size: smaller;
}

#content {
  padding: 20px;
}

.history {
  overflow: auto;
  grid-area: right;
  font-size: smaller;
}

.batch {
  height: 3.5em;
  overflow: hidden;
  cursor: pointer;
}

.batch:hover {
  height: auto;
}

.footer {
  grid-area: footer;
}

.grid div:not(.content) {
  color: #242424;
  /* border: 1px solid silver; */
  /* background-color: #ff7b00; */
}