* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

form {
  margin: 0 auto 50px auto;
}

input.range {
  margin: 0 auto;
}

table {
  /* border-collapse: collapse; */
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

pre {
  height: 1.5em;
  overflow: hidden;
  margin-bottom: 0 !important;
}

pre:hover {
  height: auto;
}

.section {
  margin: 0 0 20% 0;
}

.section-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0 0 5% 0;
}

.grid {
  display: grid;
  padding: 2.5%;
  height: 100vh;
  width: 100vw;
  gap: 0 10%;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "left content right"
    "footer footer footer";
}

.header {
  grid-area: header;
  min-height: max-content;
}

.sidebar {
  overflow: auto;
  grid-area: left;
}

.article {
  overflow: auto;
  grid-area: content;
}

#content {
  padding: 20px;
}

.right {
  overflow: auto;
  grid-area: right;
}

.footer {
  grid-area: footer;
}

.grid div:not(.content) {
  color: #242424;
  border: 1px solid silver;
  /* background-color: #ff7b00; */
}